@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}
.container {
  background: #ecf4ff;
  box-shadow: 6px 6px 6px #0e1d2f;
  border-radius: 20px;
  margin: 64px;
  color: #1c1c1c;
  padding: 64px;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
}
.perfil {
  display: flex;
}

.perfil--foto {
  border-radius: 50%;
  max-height: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titulo {
  margin-left: 16px;
}
.titulo h1 {
  font-size: 36px;
  font-weight: 700;
}
.titulo h3 {
  font-size: 24px;
  font-weight: 400;
}
.tema button {
  align-self: flex-end;
  padding: 4px 16px;
  background: transparent;
  border-radius: 6px;
  border: 2px solid black;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  margin-top: 20px;
}
.lista {
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  padding: 30px;
  background: #889cfe;
  margin-right: 40px;
  margin-top: 16px;
  font-size: 18px;
}
ul {
  list-style: none;
}
.projetos-titulos {
  font-size: 30px;
  font-weight: 700;
}
ul a {
  text-decoration: none;
  color: #1c1c1c;
}
ul li {
  transition: transform 0.7s;
}
ul li:hover {
  transform: scale(1.1);
}
.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}
.dark .container {
  background: #333439;
  color: #f7f7f7;
}
.dark .tema button {
  color: #f7f7f7;
  border-color: #f7f7f7;
}
.dark .projetos-titulos {
  color: #1c1c1c;
}